* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #211816;
    color: white;
    font-size: large;
    font-family: sans-serif;
    background-image: url("../../../images/bg.jpg");
    background-size:cover;
   
    }

#myform {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    color: white;
     margin-top: 10%;

}

#myform>* {
    margin-top: 10px;

}
#myform > input:nth-child(3) ,#myform > input:nth-child(5)
{
 
    box-sizing: border-box;
    font-family: inherit;
    overflow: visible;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    height: 50px;
    color: white !important;
    border: 2px solid transparent;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    border: 2px solid white;
    width: 70%;
}

#myform > div > button:nth-child(1),#myform > div > button:nth-child(3)
{
    width: 100%;
    background: #fbceb5 !important;
    border: 1px solid #fbceb5 !important;
    color: #000 !important;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 200;

}
#myform > div
{
    width: 70%;
}
a
{
    color: black;
    text-decoration: none;
    
}
a:hover{
    color: #000;
}
